@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    background-color: #fafafa;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    padding: 10px 2% 10px 2%;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

header div.logo {
    width: 84px;
    height: 84px;
    background-color: transparent;
    background-image: url("imagens/neto-o-dev-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    list-style-position: inside;
}

header nav ul li {
    margin-right: 20px;
    font-size: 18px;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: #8D69BF;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #8d69bfd2;
    transform: 0.5s ease-in-out;
}

header nav ul li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #8d69bf98;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in-out;
}


header nav ul li a:hover::after {
    width: 100%;
}

section#home {
    width: 100%;
    padding: 60px 2% 30px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-home {
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home-wrapper-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home .home-wrapper-1 div.profile-img {
    width: 350px;
    height: 350px;
    border-radius: 200px;
    background-color: rgb(214, 214, 214);
    background-image: url("imagens/profile-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-wrapper-2 {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}


.container-home div.texto {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.container-home div.texto h1 {
    font-size: 50px;
    color: #8D69BF;
    font-weight: 800;
}

.container-home div.texto p{
    font-size: 30px;
    color: #351B59;
    font-weight: 600;
}


.container-home div.btn-links-wrapper {
    width: 100%;
    position: relative;
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.container-home div.btn-links {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-home div.btn-links a.cv {
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    background-color: #8D69BF;
    color: #fafafa;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    border: 0.5px solid transparent;
    border-radius: 25px;
    transition: 0.5s;
}

.container-home div.btn-links a.cv:hover {
    background-color: #fafafa;
    color: #8D69BF;
    border: 0.5px solid #8D69BF;
}

.seta-home {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}


section#sobre {
    width: 100%;
    padding: 30px 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

section#sobre div.sobre-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

section#sobre div.sobre-container p, section#skills div.skills-container p, section#projetos div.projetos-container p, section#contato div.contato-titulo p {
    font-size: 20px;
    font-weight: 400;
    color: #351B59;
}

section#sobre div.sobre-container h2, section#skills div.skills-container h2, section#projetos div.projetos-container h2, section#contato div.contato-titulo h2 {
    font-size: 30px;
    font-weight: 600;
    color: #8D69BF;
}

/** mosaico **/

.container-mosaico {
    width: 104%;
    margin-left: -2.5%;
}

.mosaico-single {
    float: left;
    width: calc(100% / 9);
}

.img-mosaico-single {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/******/

section#sobre div.sobre-texto-wrapper {
    width: 70%;
    margin: 3% auto;
}

section#sobre div.sobre-texto {
    width: 100%;
    padding: 20px 0;
    color: #351B59;
    text-align: justify;
    display: flex;
    justify-content: left;
}

section#sobre div.sobre-texto p {
    width: 500px;
}

section#sobre div.sobre-texto2 {
    width: 100%;
    padding: 20px 0;
    color: #351B59;
    text-align: justify;
    display: flex;
    justify-content: right;
}

section#sobre div.sobre-texto2 p {
    width: 500px;
}

section#sobre div.sobre-texto3 {
    width: 100%;
    padding: 20px 0;
    color: #351B59;
    text-align: justify;
    display: flex;
    justify-content: left;
}

section#sobre div.sobre-texto3 p {
    width: 500px;
}

section#sobre div.seta-sobre {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}

section#skills {
    width: 100%;
    padding: 30px 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

section#skills div.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

section#skills div.skills-blocks-container {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#skills div.hard-skills, section#skills div.soft-skills {
    border: 1px solid #8D69BF;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section#skills div.skills-details{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

section#skills div.hard-skills h3, section#skills div.soft-skills h3 {
    font-size: 24px;
    color: #8D69BF;
    font-weight: 600;
    display: inline;
}

section#skills div.hard-skills h4, section#skills div.soft-skills h4 {
    font-size: 18px;
    color: #351B59;
    font-weight: 500;
}

section#skills div.hard-skills p, section#skills div.soft-skills p {
    font-size: 16px;
    color: #8D69BF;
}

section#skills div.hard-skills-container, section#skills div.soft-skills-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

section#skills div.hard-skills-wrapper1, section#skills div.soft-skills-wrapper1, section#skills div.hard-skills-wrapper2, section#skills div.soft-skills-wrapper2 { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 30px;
}

section#skills div.hard-skills article, section#skills div.soft-skills article {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
}

section#skills div.hard-skills div, section#skills div.soft-skills div {
    padding-left: 15px;
}

section#skills div.hard-skills article img, section#skills div.soft-skills article img {
    width: 27px;
    height: 27px;
}

section#skills div.seta-skills {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}

section#projetos {
    width: 100%;
    padding: 30px 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

section#projetos .projetos-container {
    width: 100%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

section#projetos .projetos-wrapper {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#projetos div.projeto-single {
    width: calc(90% / 3);
    margin: 30px auto;
    padding: 10px 2%;
    border-radius: 20px;
    display: inline-block;
}

section#projetos div.projeto-single img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 7px 20px gray;
    transition: 0.5s;
    cursor: pointer;
}

section#projetos div.projeto-img-container {
    width: 100%;
}

section#projetos div.projeto-img-container:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

section#projetos div.projeto-single h3 {
    font-size: 24px;
    color: #351B59;
    font-weight: 400;
}

section#projetos div.projetos-links {
    margin-top: 20px;
}

section#projetos div.projeto-single .github-link {
    text-decoration: none;
    background-color: #8D69BF;
    color: #fafafa;
    font-size: 15px;
    font-weight: 300;
    padding: 8px;
    border-radius: 23px;
    transition: 0.5s;
    margin: 10px;
    border: 0.5px solid transparent;
}

section#projetos div.projeto-single .github-link:hover {
    color: #8D69BF;
    background-color: #fafafa;
    border: 0.5px solid #8D69BF;
}

section#projetos div.projeto-single .live-demo-link {
    text-decoration: none;
    background-color: #351B59;
    color: #fafafa;
    font-size: 15px;
    font-weight: 300;
    padding: 8px;
    border-radius: 23px;
    transition: 0.5s;
    margin: 10px;
    border: 0.5px solid transparent;
}

section#projetos div.projeto-single .live-demo-link:hover {
    background-color: #fafafa;
    color: #351B59;
    border: 0.5px solid #351B59;
}

section#projetos div.seta-projetos {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}

section#contato {
    width: 100%;
    padding: 30px 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: #e7e7e7;
}


section#contato .contato-titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section#contato .contato-container {
    width: 100%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section#contato .contato-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

section#contato .contato-btn a {
    text-decoration: none;
    color: #8D69BF;
}

section#contato .contato-btn a:hover {
    text-decoration: underline;
}

section#contato .contato-btn a p {
    color: #8D69BF;
    font-weight: 300;
    font-size: 16px;
}

nav.end ul {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    list-style-position: inside;
    justify-content: center;
}

nav.end ul li {
    margin-right: 20px;
    font-size: 18px;
}

nav.end ul li a {
    position: relative;
    text-decoration: none;
    color: #8D69BF;
    font-weight: 500;
}

nav.end ul li a:hover {
    color: #8d69bfd2;
    transform: 0.5s ease-in-out;
}

nav.end ul li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #8d69bf98;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in-out;
}


nav.end ul li a:hover::after {
    width: 100%;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 15px;
    background-color: #351B59;
    color: #d9d2e4;
}

footer div {
    margin-top: 2px;
    font-size: 12px;
    color: #d9d2e4;
}

footer div a {
    color: #8D69BF;
    text-decoration: none;
}